<div id="twrap">
  <div id="twrapback"></div>
  <div class="container centered">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h1>RailsMG</h1>
        <h5>O RailsMG, é um grupo de profissionais e estudantes da linguagem Ruby e seus frameworks. Com o objetivo de se reunir para compartilhar conhecimento e experiências relacionados ao ambiente Ruby e outros temas relacionados a desenvolvimento de software.</h5>
      </div>
    </div><! --/row -->
  </div><! --/container -->
</div><! --/twrap -->
